body {
  width: 1200px;
}
header {
  width: 900px;
  height: 50px;
  margin: 0px auto;
  margin-top: 30px;
  margin-bottom: 10px;
}
.logo {
  float: left;
  margin-right: 10px;
}
.inner h1 {
  font-family: 'Yellowtail';
  font-size: 26pt;
  width: 250px;
}
.inner p {
  font-family: sans-serif;
  font-size: 8pt;
  width: 325px;
}
.links {
  float: right;
  height: 50px;
  width: 300px;
  margin-top: auto;
  margin-bottom: auto
}
.inner {
  margin: auto 0;
  height: 50px;
}
header nav .links li {
  display: inline;
  float: left;
  position: relative;
  margin: auto 2px;
  bottom: 35px;
  left: 75px;
}
main {
  width: 100%;
  display: inline-block;
}
/*Featured Article*/
.featured {
  width: 900px;
  heigth: 100px;
  display: inline-block;
  margin: 0 auto;
  margin-top: 30px;
  left: 150px;
  position: relative;
}
.featured h2 {
  font-family: 'Teko';
  font-size: 32pt;
  position: relative;
}
.featured h3 {
  display: inline;
  color: grey;
  position: relative;
}
.featured h4 {
  display: inline;
  float: right;
  color: grey;
  position: relative;
}
.hero {
  margin: 25px auto;
  display: block;
}
.instructions {
  width: 900px;
  margin: 0 auto;
  margin-bottom: 30px;
}
/*Ingridients*/
.checklist {
  /*border: 1px solid black;*/
  height: 325px;
  width: 900px;
  margin: 0 auto;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: #333236;
}
.checklist ul {
  display: inline;
}
.left {
  bottom: 266px;
  font-size: 16pt;
  float: left;
  position: relative;
  /*border: 1px solid black;*/
  display: inline-block;
  width: 400px;
  height: auto;
  margin: 0 auto;
  margin-left: 50px;
}
.right {
  bottom: 266px;
  font-size: 16pt;
  position: relative;
  display: inline-block;
  /*border: 1px solid black;*/
  width: 400px;
  height: auto:
  margin: 0 auto;
}
.checklist li {
  margin-bottom: 10px;
}
/*Author Article*/
.author {
  /*border: 1px solid black;*/
  width: 900px;
  height: 150px;
  margin: 0 auto;
  margin-top: 30px;
}
.vanessa {
  display: inline-block;
  float: left;
  margin-right: 15px;
}
.author h3{
  font-size: 18pt;
  display: inline-block;
  margin-top: 15px;
  font-size: 18pt;
}
.author p {
  font-size: 13pt;
  margin-top: 10px;
  width: 600px;
  display: block;
  color: #333236;
}
button {
  border-style: hidden;
  float: right;
  position: relative;
  display: inline-block;
  height: 60px;
  width: 210px;
  background: #B05C36;
  color: white;
  margin: 0 auto;
  bottom: 60px;
}
hr.break1 {
  margin: 0 auto;
  bottom: 20px;
  position: relative;
  width: 900px;
	height: 8px;
	background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
  border: 0;
}
hr.break2 {
  margin: 0 auto;
  position: relative;
  width: 900px;
	height: 8px;
	background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
  border: 0;
}
/*Footer*/
.line {
  display: inline;
}
.line hr.breakleft{
  float: left;
  width: 440px;
	border-top: 1px solid grey;
  margin-left: 140px;
}
.line img {
  margin: 0 auto;
  bottom: 8px;
  position: relative;
}
.line hr.breakright{
  float: right;
  margin-left: 0px;
  margin-right: 145px;
  width: 440px;
	border-top: 1px solid #8c8b8b;
}
